.progress-bar{
    height: 3.5rem;
    width: 100%;
    border: 1px solid $color-white-1;
    border-radius: 5px;
    overflow: hidden;

    &__container{
        display: grid;
        grid-gap: 1rem;
        margin: 1rem 0;
    }

    &__fill{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        height: 100%;
        background-color: $color-white-1;
        transition: width 0.25s;
    }

    &__text{
        font-size: 1.6rem;
        font-weight: 400;
    }

}

.progress-bar__image{
    width: 75%;
}

