$color-light-grey-1: #b6b6b6;
$color-light-grey: #e0e5ef;
$color-light-grey-2:#f1f1f1;
$color-grey: #666;
$color-dark-grey: #838383;

$color-black: #060708; //text color
$color-black-1: #060708;


$color-white-1:#fafafa;


$color-green:#409460;